{% extends 'base.html' %}


{% block content %}
		<div class="card">
			<div class="card-image">
				<img src="{{ movie.image.url }}">
				<span class="card-title">{{ movie.name }}</span>
			</div>
			<div class="card-content">
				<p>{{ movie.description }}</p>
			</div>
			<div class="card-action">
				<p>Release Date: {{ movie.created_at.year }}</p>
			<div class="progress grey">
				<div class="determinate pink" style="width: {{ movie_rating }}%"></div>
			</div>
			Movie Rating: {{ movie_rating }}/100
			</div>
		</div>
{% endblock content %}


{% block left %}
	<div class="card ">
		<div class="card-content black-text">
			<span class="card-title">Write A Review! 🤩 🙂 😡</span>
			{% include "reviews/newReview.html" %}

		</div>
	</div>
	{% for review in latest_movie_reviews %}
	<div class="card">
		<div class="card-content black-text">
			<div class="progress">
				<div class="determinate" style="width: {{ review.rating }}%"></div>
			</div>
			<p>{{ review.description}}</p>
		</div>
		<div class="card-action">
			{{ review.created_at }}
		</div>
	</div>
	{% empty %}
	<li>No reviews to show</li>
	{% endfor %}
{% endblock left %}
	


{% block right %}
	<div class="card ">
		<div class="card-content black-text">
			<a href="{% url 'showForum' movie.id %}" class="waves-effect cyan waves-light btn-large" style="width: 100%;">Forum of this movie</a>

		</div>
	</div>

 {% for topic in latest_movie_topics %}
<div class="card">
	<div class="card-content black-text">
				<div class="progress grey">
					<div class="determinate cyan" style="width: {{ topic.rating }}%"></div>
				</div>
		<a href="{% url 'showTopic' topic.id %}"><h5>{{ topic.title}}</h5></a>
		<p>{{ topic.content }}</p>
	</div>
	<div class="card-action">
		{{ topic.created_at }}
	</div>
</div>
{% empty %}
<li>No Topics to show</li>
{% endfor %}

{% endblock right %}
	
