<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Stager</title>
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
</head>
<body>
    {% include 'snippets/navbar.html' %}
    
    {% block content %}
        
    {% endblock content %}
    <script src="{% static 'css/uikit.min.js' %}"></script>
</body>
</html>